button.up {
	background-color: #52d178;
	border: none; /* Remove borders */
	color: white; /* White text */
	width:20%;
	height:15%;
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

button.down {
	background-color: #db5346;
	border: none; /* Remove borders */
	color: white; /* White text */
	width:20%;
	height:15%;
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

button.up:hover {
	background-color: #3c8050;
}

button.up:active {
	background-color: #224a2e;
}

button.down:hover {
	background-color: #8a332b;
}

div.std {
	padding:0px;
}